* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   background-color: #202124;
}

.body-com-imagem {
    background-image: url("../assets/marvel10.jpg");
    background-size: cover;
}

.navebar {
   height: 100px;
    width: 100vw;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logo {
    height: 30px;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 32px;
    padding-right: 20px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: white;
    cursor: pointer
}
