@import url('https://fonts.googleapis.com/css2? family= Anton & family= Inter:wght@100;200;300;400;500;600 & display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

 body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
} 

.body-com-imagem {
    background-image: url("../assets/marvel10.jpg");
    background-size: cover;
    font-size: 100%;
    background: black;
}

.navebar {
    top: 0;
    position: fixed;
    width: 100vw;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    height: 30px;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 32px;
    padding-right: 20px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: white;
    cursor: pointer
}

.menu-cadastro {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.8s ease-in-out;
}

.menu-cadastro:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.menu-login {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.8s ease-in-out;
}

.menu-login:hover {
    background-color: rgba(0, 0, 255, 0.8);
}


.container {
    margin-top: 30px;
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001AFF;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #001AFF;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #001AFF;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.3rem;
    background-color: #001AFF;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    flex-direction: column;
    gap: 20px;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
}

.input-box input {
    padding: 4%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #001AFF;
}

.continue-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continue-button button {
    border: none;
    background-color: #001AFF;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.continue-button button:hover {
    background-color: #001AFF;
}

.continue-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}