@import url('https://fonts.googleapis.com/css2? family= Anton & family= Inter:wght@100;200;300;400;500;600 & display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

.container-nav {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 0;
    color: white;
  }
  
  nav img {
    width: 250px;
    color: white;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
  }
  
  nav ul li {
    list-style: none;
    color: white;
  }

 body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
} 

.body-com-imagem {
    background-image: url("../assets/marvel10.jpg");
    background-size: cover;
    font-size: 100%;
    background: black;
}

.container-nav {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 0;
    color: white;
  }
  
  nav img {
    width: 250px;
    color: white;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
  }
  
  nav ul li {
    list-style: none;
    color: white;
  }
  
  nav button {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    border: 1px solid red;
    transition: all 0.3s;
    color: white;
  }
  
  .btn-login {
    background-color: red;
  }
  
  .btn-login:hover {
    background-color: rgb(158, 1, 1);
    color: white;
  }
  
  .btn-cadastro {
    background-color: rgba(255, 0, 0, 0);
  }
  
  .btn-cadastro:hover {
    background-color: red;
  
    color: white;
  }


.container {
    margin-top: 30px;
    width: 75%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpaperaccess.com/full/55572.jpg");
    padding: 1rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.form-image img {
    width: 20rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button a button {
    color: white;
}


.login-button button {
    border: none;
    background-color: #000b6f;
    padding: 0.4rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    height: 50px;
    width: 110px;
    transition: all 0.3s;
}

.login-button button:hover {
    background-color: #000e8d;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.3rem;
    background-color: #001AFF;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    flex-direction: column;
    gap: 20px;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
}

.input-box input {
    padding: 4%;
    border: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
width: 300px;
    height: 50px;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #001AFF;
}

.continue-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continue-button button {
    border: none;
    background-color: #000c79;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
    height: 60px;
    width: 200px;
    transition: all 0.3s;
}

.continue-button button:hover {
    background-color: #00084f;
}

.continue-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}